* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 12px;
  scroll-behavior: smooth;
}
body {
  background-color: #edededba;
  /* overflow-x: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}
.header {
  position: relative;
  width: 100vw;
  height: 95vh;
}
.__section1 {
  position: relative;
  width: 100vw;
  height: 95vh; /* or 50vh for half screen */
  /* background-color: black; */
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: 3px solid;
  border-image: linear-gradient(to top left, #0417a1, #ff0000) 2;
}
.hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  z-index: 1;
}
.navbar {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 20vh;
  background-color: rgba(0, 0, 255, 0);
  /* position: fixed; */
  /* height: 30vh; */
  /* transform: translateY(-150px);
  transition: all 2s ease-out; */
}
.nav__active {
  transform: translateY(10px);
  transform: scale(1.01);
  background: rgba(8, 8, 151, 0.306);
  backdrop-filter: blur(1.5px);
  box-shadow: 0 4px 30px rgba(8, 8, 151, 0.153);
  border-bottom: solid 2px red;
  transition: all 0.4s ease-out;
  position: fixed;
}
.nav__click {
  background: rgba(8, 8, 151, 0.081);
  backdrop-filter: blur(0);
}
.navbar:hover {
  background: rgba(8, 8, 151, 0.233);
  border-bottom: solid 3px red;
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 30px rgba(8, 8, 151, 0.176);
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}
.nav__links {
  display: flex;
  position: relative;
  right: 1%;
  /* padding-top: 1%; */
  bottom: 68%;
  list-style: none;
  justify-self: flex-end;
}

.nav__item {
  position: relative;
  padding: 20px;
  text-decoration: none;
  /* font-size: clamp(2rem, 0.4vw, 2em); */
  font-size: 1.7em;
  color: white;
}
.nav__item:hover {
  text-decoration: underline;
  color: red;
  transform: scale(1.01);
  transition: all 0.5s ease;
}
.hts__logo {
  position: relative;
  width: 11%;
  height: 105%;
  left: 2%;
  top: 1%;
  /* padding-top: -100%; */
}

.img__log {
  position: relative;
  width: 0;
  height: 0;
}

.msg__Typing {
  position: relative;
  top: 30%;
  z-index: 10;
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  width: 0; /* important for animation */
  opacity: 0.3;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.75);
  }
}

/* Define the keyframes for the typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.msg__Typing {
  overflow: hidden; /* hides text beyond width */
  white-space: wrap; /* keeps text on one line */
  width: 0; /* start hidden */
  animation: typing 7s steps(25) forwards;
}

.add__color {
  position: relative;
  display: flex;
  text-align: center;
  background: rgba(8, 8, 151, 0.369);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(8, 8, 151, 0.176);
  transform: translateY(138%) scale(0.8);
  border-radius: 5px;
  padding: auto;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.add__remove {
  transform: scale(0.1);
  opacity: 0;
}

.semper__altius {
  display: flex;
  color: red;
  font-family: "Dancing Script", cursive;
  /* justify-content: center; */
  height: 6vh;
  border-top: solid 1px red;
  border-bottom: solid 1px red;
  opacity: 0;
  transform: translateY(120px);
  transition: all 0.5s ease-out;
}

.__semper--active {
  transform: translateX(706%);
  transition: all 5.5s ease-out;
}
.__semper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  right: 20%;
  font-size: large;
  font-weight: 500;
  opacity: 0;
}
.__altius {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  left: 100%;
  padding-top: 1px;
  font-size: large;
  font-weight: 500;
  opacity: 0;
}

.__altius--active {
  transform: translateX(-645%);
  transition: all 5.5s ease-out;
}

main {
  width: 100%;
  max-width: 1200px;
  /* margin: 0 auto; */
}

.section__1 {
  display: flex;
  align-items: center;
  /* text-align: start; */
  width: 106.7%;
  height: 455px;
  margin-top: 20px;
  overflow: hidden;
  /* background-color: #007bff; */
  scroll-margin-top: 205px;
  opacity: 0;
  transform: translateY(120px);
  transition: all 0.5s ease-out;
}

.picture__1 {
  position: relative;
  bottom: 8%;
  left: -0.5%;
  width: 55%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

.section__1--text {
  position: relative;
  /* background-color: pink; */
  color: rgb(55, 56, 61);
  /* top: -10%; */
  margin-top: 40px;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  margin-left: 10px;
  font-weight: bold;
  padding: 3px;
  line-height: 1.4;
  z-index: 1;
}
.learn__more {
  /* padding: 3px; */
  margin-left: 8px;
  margin-top: 25px;
  font-size: 120%;
  list-style: none;
  text-decoration: none;
  padding-bottom: 5px;
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #ff0000;
}
.learn__more:visited {
  color: red;
}
.highlight {
  position: relative;
  color: white;
  margin: 3px;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-17deg);
  background: linear-gradient(to top left, #0417a1 25%, #ff0000);

  margin: 1px;
}

.hr__line--1 {
  width: 100vw;
}
.section__2 {
  margin-bottom: 90px;
}
.section__2unity {
  opacity: 0;
  transform: translateY(120px);
  transition: all 0.5s ease-out;
}
.section__2--aspire {
  opacity: 0;
  transform: translateY(120px);
  transition: all 0.5s ease-out;
}
.section__2--heading {
}
.heading__1--unity {
  display: flex;

  position: relative;
  left: 18.2%;
  margin-bottom: 10px;
  color: red;
  font-size: 1.9em;
  font-weight: 510;
}
.line--brake__subheading {
  position: relative;
  right: 52.8%;
}
.sub--heading__1 {
  display: flex;
  position: relative;
  left: 23%;
  transform: scale(1.1);
  line-height: 1.4;
  color: rgb(55, 56, 61);
  font-size: 2.5rem;
  font-weight: 650;
}
.tabs__container {
  display: flex;
  position: relative;
  align-items: center;
  width: 80%;
  height: 50vh;
  left: 3%;
  text-align: start;
  background-color: white;
  color: rgb(55, 56, 61);
  font-size: 150%;
  line-height: 1.6;
  padding: 40px 40px 40px 40px;
  margin-top: 90px;
  border-radius: 5px;
  /* overflow: hidden; */
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61); /* or any solid color */
}
.text__tab--container--1 {
  /* position: absolute; */
  opacity: 1;
}
.text__tab--container--2 {
  /* position: absolute; */
  opacity: 1;
}
.text__tab--container--3 {
  /* position: absolute; */
  opacity: 1;
}

.text__tab--container--2::first-line {
  line-height: 3;
  font-size: 115%;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ff0000;
}
.text__tab--container--3::first-line {
  line-height: 3;
  font-size: 113.9%;
  font-weight: 600;
  color: #ff0000;
}
/* .tabs__container--icon {
  display: none;
  object-fit: cover;
  position: relative;
  background-color: rgba(14, 232, 14, 0.662);
  background: linear-gradient(to top right, #0417a1 35%, #ff0000);

  border-radius: 50%;
  color: rgb(255, 255, 255);

  backdrop-filter: blur(3px);
  width: 30%;
  height: 30%;
  padding: 17px;
  margin-right: 10px;
  right: 2%;
  bottom: 10%;
  backdrop-filter: blur(10px);
} */

.bi-trophy-wrapper {
  display: none;
  background: linear-gradient(to top right, #0416a194 35%, #ff0000);
  padding: 10px;
  border-radius: 50%;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  width: 26%; /* fixed size */
  height: 31%;
  backdrop-filter: blur(10px);
  margin-right: 10px;
  position: relative;
  right: 2%;
  bottom: 10%;
}

.bi-trophy {
  display: none;
  color: white;
  position: relative;
  left: 4%;
  top: 3%;
  font-size: 24px;
  width: 50px;
  height: 50px;
}
.bi-ubuntu-wrapper {
  display: none;
  background: linear-gradient(to top right, #0416a194 35%, #ff0000);
  padding: 10px;
  border-radius: 50%;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  width: 38%;
  height: 31%;
  backdrop-filter: blur(10px);
  margin-right: 10px;
  position: relative;
  right: 2%;
  bottom: 10%;
}

.bi-ubuntu {
  display: none;
  color: white;
  position: relative;
  left: 2%;
  top: 8%;
  font-size: 24px;
  width: 50px;
  height: 50px;
}

.bi-book-wrapper {
  display: none;
  background: linear-gradient(to top right, #0416a194 35%, #ff0000);
  padding: 10px;
  border-radius: 50%;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 31%;
  backdrop-filter: blur(10px);
  margin-right: 10px;
  position: relative;
  right: 2%;
  bottom: 10%;
}

.bi-book {
  display: none;
  color: white;
  position: relative;
  left: 2.6%;
  top: 5%;
  font-size: 24px;
  width: 50px;
  height: 50px;
}

.text__tab--container--1::first-line {
  line-height: 3;
  font-size: 113.9%;
  font-weight: 600;
  color: #ff0000;
}

.tab__btns {
  display: flex;
  position: absolute;
  bottom: 89%;
  left: 10%;
  gap: 2em;
}

.btn__intab--container {
  width: 18vw;
  height: 10vh;
  background-color: #0417a1;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: medium;
  font-weight: 400;
}
.btn__intab--animation {
  transform: translateY(-20%);
  transition: all 0.5s ease;
}
.btn__intab--animationRemove {
  transform: translateY(0);
  transition: all 0.5s ease;
}
.__mission {
  display: flex;
  margin-top: 125px;
  gap: 3em;
}
.__mission--titile {
  display: flex;
  position: relative;
  bottom: 10%;
  left: 2%;
}
.__mission--heading {
  display: flex;
  position: relative;
  bottom: 15px;
  left: 1%;
  /* background-color: #0417a1; */
  color: red;
  padding-top: 7px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 510;
}
/* .__mission--mission {
  display: flex;
  position: relative;
  color: red;
  bottom: 5%;
} */
.bi-bulb-wrapper {
  background: linear-gradient(to top right, #0416a194 35%, #ff0000);
  padding: 6px;
  border-radius: 50%;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  width: 4.8%; /* fixed size */
  height: 5%;
  backdrop-filter: blur(10px);
  /* margin-bottom: -3px; */

  position: relative;
  right: 0.5%;
  margin-top: -8px;
}
.bi-lightbulb {
  color: white;
  position: relative;
  left: 12%;
  top: 5%;
  font-size: 15px;
  width: 50px;
  height: 50px;
}
.__mission--picture {
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61);

  width: 43vw;
  height: 43vh;
  margin-left: 45px;
  border-radius: 5;
}

.__mission--lists__items {
  position: relative;
  left: 3%;
  bottom: 5%;
  color: rgb(55, 56, 61);
  font-size: 125%;
  padding-bottom: 15px;
  padding-right: 15px;
}
.__mission--lists--background {
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 50.5vw;
  padding-top: 10px;
  position: relative;
  bottom: 14%;
  left: 2.5%;
}
.__vision {
  display: flex;
  position: relative;
  margin-top: 35px;
  gap: 1em;
}
.__vision--heading {
  display: flex;
  position: relative;
  /* background-color: #0417a1; */
  color: red;
  /* padding-top: 10px; */
  top: 2%;

  font-size: 2em;
  font-weight: 510;
}
.bi-graph-up-wrapper {
  background: linear-gradient(to top right, #0416a194 35%, #ff0000);
  padding: 17.5px;
  border-radius: 50%;
  display: flex; /* enable flexbox */
  align-items: center;
  justify-content: center;
  width: 30%; /* fixed size */
  height: 30%;
  backdrop-filter: blur(10px);
  position: relative;
  right: 5%;
  margin-top: -1px;
}
.bi-graph-up-arrow {
  color: white;
  font-size: 15px; /* adjust to fit */
}

.__vision--icon-text {
  display: flex;
  height: 5vh;
  position: absolute;
  left: 4%;
  margin-top: -44px;
}
.__vision--text {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61);
  padding: 10px;
  width: 53vw;
  border-radius: 5;
  line-height: 1.9;
  color: rgb(55, 56, 61);
  font-size: 131%;
  padding-bottom: 20px;
  right: -3.5%;
}
.__vision--picture {
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61);
  position: relative;
  left: 3.6%;
  width: 43vw;
  height: 43vh;
  margin-left: 45px;
  border-radius: 5;
}
.__values {
  display: flex;
  margin-top: 80px;
  gap: 3em;
  position: relative;
  left: 3.5%;
}
.__values--text {
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61);
  color: rgb(55, 56, 61);
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  height: 42.7vh;
}
.__values--lists {
}
.__values--lists--items {
  position: relative;
  left: 3%;
  bottom: 5%;
  color: rgb(55, 56, 61);
  font-size: 125%;
  padding-bottom: 15px;
  padding-right: 15px;
}
.__values--picture {
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61);
  position: relative;
  width: 43vw;
  height: 43vh;
  border-radius: 5;
}

.__value-icon {
  display: flex;
  position: absolute;
  left: 45%;
  bottom: 104%;
  height: 5vh;
}

.value--text {
  display: flex;
  position: relative;
  /* background-color: #0417a1; */
  color: red;
  /* padding-top: 10px; */
  top: 2%;

  font-size: 2em;
  font-weight: 510;
}
.__value--Icon__wrapper {
  background: linear-gradient(to top right, #0416a194 35%, #ff0000);
  padding: 17.5px;
  border-radius: 50%;
  display: flex; /* enable flexbox */
  align-items: center;
  justify-content: center;
  width: 29%; /* fixed size */
  height: 30%;
  backdrop-filter: blur(10px);
  position: relative;
  right: 5%;
  margin-top: -1px;
}
.bi-people {
  color: white;
  font-size: 15px; /* adjust to fit */
}

.__vision--icon-text {
  display: flex;
  height: 5vh;
  position: absolute;
  left: 4%;
  margin-top: -44px;
}
.modal__window__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.modal__window__overlay-active {
  opacity: 1;
  visibility: visible;
}
.modal__window__overlay-actives {
  opacity: 1;
  visibility: visible;
}
.quick__jump--modal-window {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50vw;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgb(55, 56, 61);
}
.modal-window__title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
  border-bottom: 3px solid;
  border-image: linear-gradient(to top left, #ffffff, #ff0000) 2;

  width: 50vw;
}
.sections__lists_modal-window {
  list-style: none;
}
.section__item__modal-window {
  padding: 10px;
  font-size: 1.5em;
}
.modal__window--removeLine {
  display: block;
  text-decoration: none;
  color: rgb(55, 56, 61);
}
.modal__window--removeLine:hover {
  color: #ffffff;
}
.section__item__modal-window:hover {
  position: relative;
  background-color: rgb(0, 0, 183);
  width: 130%;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  transform: scaleY(1.1) translateX(-12%);
  cursor: pointer;
  color: #ffffff;
}

.footer__child1 {
  display: flex;
  align-items: center;
  background-color: #0417a1;
  color: #ffffff;
  z-index: 1;
  margin-top: 80px;
  height: 50vh;
  opacity: 0;
  transform: translateY(120px);
  transition: all 0.5s ease-out;
}
.footer__child2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  color: #fff;
}
.hr__line--footer {
  position: absolute;
  left: 3.3%;
  border: none;
  border: 2 solid red;
  height: 5.5vh;
}
.hr__line--footer2 {
  position: absolute;
  left: 15%;
  border: none;
  border: 2 solid red;
  height: 5.5vh;
}
.get-in-touch {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  list-style: none;
  text-decoration: none;
}
.get-in-touch2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  left: 30%;
  list-style: none;
  text-decoration: none;
  /* background-color: #ff00e6; */
}
.get-in-touch__title {
  margin-bottom: 22px;
  font-size: 2.5em;
}
.get-in-touch__title2 {
  margin-bottom: 22px;
  font-size: 2.5em;
}
.phone {
  padding-top: 22px;
  font-size: 1.5em;
}
.email1 {
  padding-top: 22px;
  font-size: 1.5em;
}
.email2 {
  text-decoration: none;
  color: #fff;
}
.email2:visited {
  color: white;
}
.address {
  padding-top: 22px;
  font-size: 1.5em;
}

.bi-telephone {
  position: absolute;
  left: 0.5%;
}
.bi-envelope {
  position: absolute;
  left: 0.5%;
}
.bi-geo-alt {
  position: absolute;
  left: 0.5%;
}

.footer__social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 23px;
}
.instagram {
  display: flex;
  align-items: center;
  width: 9%;
  height: auto;
}
.instagram:hover {
  transform: scale(1.1) rotate(360deg) rotateY(360deg);
  transition: all 1s ease;
}
.facebook {
  display: flex;
  align-items: center;
  right: 30%;
  width: 9%;
  height: auto;
}
.facebook:hover {
  transform: scale(1.1) rotate(360deg) rotateY(360deg);
  transition: all 1s ease;
  perspective: 800px;
}
.instagram2 {
}
.facebook2 {
  margin-left: -445px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links--list {
}
.footer__links--item {
  padding-top: 18.7px;
  font-size: 1.5em;
  list-style: none;
}
.footer__links--item--a {
  text-decoration: none;
  color: #fff;
}
.footer__links--item--a:visited {
  color: #fff;
}

.footer__links--item:hover {
  transition: all 0.3s ease-out;
  transform: scaleY(1.1) translateX(-12%);
}

.form__section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  left: 45%;
  padding: 15px;
}
input[type="email"] {
  outline-color: #ff0000;
  caret-color: #ff0000;
  margin-bottom: 20px;
  width: 150%;
  height: 150%;
  padding: 11px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}
.form__title {
  font-size: 2em;
  margin-bottom: 20px;
}
.form__btn {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
}
.form__btn:active {
  color: #fff;
  background-color: #ff000078;
}

.footer__arrow-icon {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: baseline;
  left: 95%;
  margin-bottom: -220px;
  width: 28;
  height: 5%;
  background-color: white;
  border-radius: 3px;
}
.up__arrow--footer {
}
.up-arrow {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: -14px;
  right: -10%;
  width: 120%;
  padding: 2px;
  height: auto;
}

.renderSections {
  opacity: 1;
  transform: translateY(0);
}
